.footer {
    width: 100%;
    background-color: black !important;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0px 0px 0px 0px;

    img {
        background-color: #7c795d;
        width: 7%;


    }

    .instagram:hover {
        background-color: #c32aa3;
    }

    .facebook:hover {

        background-color: #1877f2;
    }

    .twitter:hover {
        background-color: #1da1f2;
    }

    .behance:hover {

        background-color: #053eff;
    }

    .dribbble:hover {
        background-color: #ea4c89;
    }

    .custom-icon {
        color: #7c795d;
        font-size: 30;
        height: 100%;
    }
}

.footer-under {
    margin: 0px 0px 10px 0px;

    div {
        color: #7c795d !important;
    }
}