.portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .portfolio-body-selected {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
        flex-direction: row;
        transition: opacity 0.5s ease;
        border: 1px solid #7c795d !important;
        border-radius: 10px;
        margin: 10px 0px 10px 0px;
        animation: slides 0.5s linear forwards;
        opacity: 0;

        @keyframes slides {
            0% {
                bottom: 100%;
            }

            100% {
                bottom: 0%;
                opacity: 1;

            }
        }

        .portfolio-body-selected-img {
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: center;

            .img-portfolio {
                height: 100%;

                .sc-dkrFOg {
                    width: 100%;
                    height: 100% !important;
                }
            }
        }

        .portfolio-body-selected-text {
            width: 100%;
        }
    }

    .close {
        position: absolute;
        right: 32px;
        top: 15px;
        width: 32px;
        height: 32px;
        opacity: 3;
        z-index: 2;
    }

    .hidden {
        position: relative;
        background-position: center;
        width: 100%;
        height: auto;
        bottom: 0%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: slide 0.5s linear forwards;
        opacity: 1;
        pointer-events: none;
        /* Gizlendiğinde tıklamaları engelle */
        /* Başlangıçta görünür */

        @keyframes slide {
            0% {
                bottom: 100%;
            }

            100% {
                bottom: 0%;
                opacity: 0;
                display: none;

            }
        }
    }


    .close:hover {
        opacity: 1;
    }

    .close:before,
    .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

    h1 {
        margin: 0px 0px 70px 0px;
    }

    .portfolio-body {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;


        .portfolio-line {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 40px;
            height: 500px;
            margin: 0px 0px 10px 0px;

            .portfolio-line-img {
                display: flex;
                width: 100%;
                justify-content: center;
                height: 500px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                    &:hover {
                        transform: scale(1.2);
                        transition: transform 1.5s ease;
                    }
                }
            }
        }
    }
}