.portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .tab-list {
        display: flex;
        justify-content: center;
        gap: 10%;
        margin-bottom: 40px;
    }

    .portfolio-body-selected {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
        flex-direction: row;
        transition: opacity 0.5s ease;
        border: 1px solid #7c795d !important;
        border-radius: 10px;
        margin: 10px 0px 10px 0px;
        animation: slides 0.5s linear forwards;
        opacity: 0;

        @keyframes slides {
            0% {
                bottom: 100%;
            }

            100% {
                bottom: 0%;
                opacity: 1;

            }
        }

        .portfolio-body-selected-img {
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: center;

            .img-portfolio {
                height: 100%;

                .sc-dkrFOg {
                    width: 100%;
                    height: 100% !important;
                    object-fit: cover;
                }
            }
        }

        .portfolio-body-selected-text {
            width: 100%;
        }
    }

    .close {
        position: absolute;
        right: 32px;
        top: 15px;
        width: 32px;
        height: 32px;
        opacity: 3;
        z-index: 2;
    }

    .hidden {
        position: relative;
        background-position: center;
        width: 100%;
        height: auto;
        bottom: 0%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: slide 0.5s linear forwards;
        opacity: 1;
        pointer-events: none;
        /* Gizlendiğinde tıklamaları engelle */
        /* Başlangıçta görünür */

        @keyframes slide {
            0% {
                bottom: 100%;
            }

            100% {
                bottom: 0%;
                opacity: 0;
                display: none;

            }
        }
    }


    .close:hover {
        opacity: 1;
    }

    .close:before,
    .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

    h1 {
        margin: 0px 0px 70px 0px;
    }

    .portfolio-body {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;


        .portfolio-line {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 40px;
            height: 500px;
            margin: 0px 0px 10px 0px;

            .portfolio-line-img {
                display: flex;
                width: 100%;
                justify-content: center;
                height: 500px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                    &:hover {
                        transform: scale(1.2);
                        transition: transform 1.5s ease;
                    }
                }
            }
        }
    }
}

.ui-line {
    width: 100%;

    .card {
        width: 100%;
    }
}


.card {
    width: 210px;
    height: 754px;
    border-radius: 4px;
    background: #212121;
    display: flex;
    gap: 5px;
    padding: .4em;
}

.card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #212121;
    border: 1px solid #ff5a91;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p:hover {
    flex: 8;
}

.card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ff568e;
    letter-spacing: .1em;
}

.card p:hover span {
    transform: rotate(0);
}




.active-tab {
    background-color: #928d5c !important;
    color: #D3D3D3 !important;
}


.buttonx {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    background: #D3D3D3;
    width: 100%;
    z-index: 1;
    color: #928d5c;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    .buttonx:hover {
        background: #D3D3D3;
        color: #928d5c;
        text-decoration: none;
    }
}

.buttonx-4 {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

.buttonx-4 span {
    z-index: 120;
}

.buttonx-4:after {
    transition: all 0.7s ease !important;
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.9;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.buttonx-4:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}


.ui-line {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;

    .ux-items {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10%;
    }

    /*works janky on mobile :<*/
    .container {
        position: relative;
        width: 190px;
        height: 254px;
        transition: 200ms;
    }

    .container:active {
        width: 180px;
        height: 245px;
    }

    #card {
        position: absolute;
        inset: 0;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 700ms;
        background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(57, 47, 196) 46%, rgb(255, 204, 112) 100%);
    }

    .subtitle {
        transform: translateY(160px);
        color: rgb(134, 110, 221);
        text-align: center;
        width: 100%;
    }

    .title {
        opacity: 0;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out-out;
        transition-delay: 100ms;
        position: absolute;
        font-size: x-large;
        font-weight: bold;
        color: white;
    }

    .tracker:hover~#card .title {
        opacity: 1;
    }

    #prompt {
        bottom: 8px;
        left: 12px;
        z-index: 20;
        font-size: 20px;
        font-weight: bold;
        transition: 300ms ease-in-out-out;
        position: absolute;
        max-width: 110px;
        color: rgb(255, 255, 255);
    }

    .tracker {
        position: absolute;
        z-index: 200;
        width: 100%;
        height: 100%;
    }

    .tracker:hover {
        cursor: pointer;
    }

    .tracker:hover~#card #prompt {
        opacity: 0;
    }

    .tracker:hover~#card {
        transition: 300ms;
        filter: brightness(1.1);
    }

    .container:hover #card::before {
        transition: 200ms;
        content: '';
        opacity: 80%;
    }

    .canvas {
        perspective: 800px;
        inset: 0;
        z-index: 200;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
            "tr-6 tr-7 tr-8 tr-9 tr-10"
            "tr-11 tr-12 tr-13 tr-14 tr-15"
            "tr-16 tr-17 tr-18 tr-19 tr-20"
            "tr-21 tr-22 tr-23 tr-24 tr-25";
    }

    #card::before {
        content: '';
        background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
        filter: blur(2rem);
        opacity: 30%;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        transition: 200ms;
    }

    .tr-1 {
        grid-area: tr-1;
    }

    .tr-2 {
        grid-area: tr-2;
    }

    .tr-3 {
        grid-area: tr-3;
    }

    .tr-4 {
        grid-area: tr-4;
    }

    .tr-5 {
        grid-area: tr-5;
    }

    .tr-6 {
        grid-area: tr-6;
    }

    .tr-7 {
        grid-area: tr-7;
    }

    .tr-8 {
        grid-area: tr-8;
    }

    .tr-9 {
        grid-area: tr-9;
    }

    .tr-10 {
        grid-area: tr-10;
    }

    .tr-11 {
        grid-area: tr-11;
    }

    .tr-12 {
        grid-area: tr-12;
    }

    .tr-13 {
        grid-area: tr-13;
    }

    .tr-14 {
        grid-area: tr-14;
    }

    .tr-15 {
        grid-area: tr-15;
    }

    .tr-16 {
        grid-area: tr-16;
    }

    .tr-17 {
        grid-area: tr-17;
    }

    .tr-18 {
        grid-area: tr-18;
    }

    .tr-19 {
        grid-area: tr-19;
    }

    .tr-20 {
        grid-area: tr-20;
    }

    .tr-21 {
        grid-area: tr-21;
    }

    .tr-22 {
        grid-area: tr-22;
    }

    .tr-23 {
        grid-area: tr-23;
    }

    .tr-24 {
        grid-area: tr-24;
    }

    .tr-25 {
        grid-area: tr-25;
    }

    .tr-1:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
    }

    .tr-2:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
    }

    .tr-3:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
    }

    .tr-4:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
    }

    .tr-5:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
    }

    .tr-6:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
    }

    .tr-7:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
    }

    .tr-8:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
    }

    .tr-9:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
    }

    .tr-10:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
    }

    .tr-11:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
    }

    .tr-12:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
    }

    .tr-13:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    .tr-14:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
    }

    .tr-15:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
    }

    .tr-16:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
    }

    .tr-17:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
    }

    .tr-18:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
    }

    .tr-19:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
    }

    .tr-20:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
    }

    .tr-21:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
    }

    .tr-22:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
    }

    .tr-23:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
    }

    .tr-24:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
    }

    .tr-25:hover~#card {
        transition: 125ms ease-in-out;
        transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
    }

    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
    									supported by Chrome, Edge, Opera and Firefox */
    }
}